data/flows.json
[
    {
        "id": "014a1a96b302a816",
        "type": "tab",
        "label": "Poll email accounts",
        "disabled": false,
        "info": "Periodically check for an email and inject into the queue",
        "env": []
    },
    {
        "id": "c2dc4ab21e48cf2f",
        "type": "junction",
        "z": "014a1a96b302a816",
        "x": 920,
        "y": 420,
        "wires": [
            [
                "d296bbee314d5fd3",
                "3a206627d89b71e0"
            ]
        ]
    },
    {
        "id": "e82451dc738629f8",
        "type": "junction",
        "z": "014a1a96b302a816",
        "x": 840,
        "y": 620,
        "wires": [
            [
                "c2dc4ab21e48cf2f"
            ]
        ]
    },
    {
        "id": "fbd8a70d937ba280",
        "type": "junction",
        "z": "014a1a96b302a816",
        "x": 300,
        "y": 420,
        "wires": [
            [
                "b7f1946e3c34936f"
            ]
        ]
    },
    {
        "id": "f6f7d7105f5398c6",
        "type": "postgreSQLConfig",
        "name": "db connection",
        "host": "db",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "POSTGRES_DB",
        "databaseFieldType": "env",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "POSTGRES_USER",
        "userFieldType": "env",
        "password": "POSTGRES_PASSWORD",
        "passwordFieldType": "env"
    },
    {
        "id": "b7f1946e3c34936f",
        "type": "e-mail in",
        "z": "014a1a96b302a816",
        "name": "Test Email",
        "protocol": "IMAP",
        "server": "imap.gmail.com",
        "useSSL": true,
        "autotls": "never",
        "port": "993",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "box": "INBOX",
        "disposition": "Read",
        "criteria": "UNSEEN",
        "repeat": "60",
        "fetch": "trigger",
        "inputs": 1,
        "x": 480,
        "y": 420,
        "wires": [
            [
                "b9fdfac45f583858"
            ]
        ]
    },
    {
        "id": "d296bbee314d5fd3",
        "type": "debug",
        "z": "014a1a96b302a816",
        "name": "debug 1",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 320,
        "wires": []
    },
    {
        "id": "f7fa6c614feea372",
        "type": "inject",
        "z": "014a1a96b302a816",
        "name": "Inject dummy message for testing",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "date",
                "v": "iso",
                "vt": "date"
            },
            {
                "p": "html",
                "v": "<div dir=\"ltr\">this is a test of the node-red code</div>",
                "vt": "str"
            },
            {
                "p": "from",
                "v": "jmiller@labattleship.com",
                "vt": "str"
            },
            {
                "p": "attachments",
                "v": "[]",
                "vt": "json"
            },
            {
                "p": "src",
                "v": "debug_trigger",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test",
        "payload": "this is a test of the node-red code",
        "payloadType": "str",
        "x": 170,
        "y": 620,
        "wires": [
            [
                "e82451dc738629f8"
            ]
        ]
    },
    {
        "id": "3e76bf971a21b46f",
        "type": "inject",
        "z": "014a1a96b302a816",
        "name": "Email check timer",
        "props": [],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "fbd8a70d937ba280"
            ]
        ],
        "icon": "font-awesome/fa-clock-o"
    },
    {
        "id": "b1806be8c319d3bb",
        "type": "e-mail in",
        "z": "014a1a96b302a816",
        "name": "Prod email",
        "protocol": "IMAP",
        "server": "imap.gmail.com",
        "useSSL": true,
        "autotls": "never",
        "port": "993",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "box": "INBOX",
        "disposition": "Read",
        "criteria": "UNSEEN",
        "repeat": "60",
        "fetch": "trigger",
        "inputs": 1,
        "x": 480,
        "y": 240,
        "wires": [
            [
                "0852f9388ebd5f88"
            ]
        ]
    },
    {
        "id": "18bdeb482edb0366",
        "type": "postgresql",
        "z": "014a1a96b302a816",
        "name": "",
        "query": "INSERT INTO Queue (from_addr, source, message) VALUES ($1, $2, $3)",
        "postgreSQLConfig": "f6f7d7105f5398c6",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1290,
        "y": 560,
        "wires": [
            [
                "4ae18773295ff39c"
            ]
        ],
        "inputLabels": [
            "asdf"
        ],
        "outputLabels": [
            "sdaf"
        ]
    },
    {
        "id": "0852f9388ebd5f88",
        "type": "change",
        "z": "014a1a96b302a816",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "src",
                "pt": "msg",
                "to": "prod_email",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 240,
        "wires": [
            [
                "c2dc4ab21e48cf2f"
            ]
        ]
    },
    {
        "id": "b9fdfac45f583858",
        "type": "change",
        "z": "014a1a96b302a816",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "src",
                "pt": "msg",
                "to": "test_email",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 420,
        "wires": [
            [
                "c2dc4ab21e48cf2f"
            ]
        ]
    },
    {
        "id": "3a206627d89b71e0",
        "type": "change",
        "z": "014a1a96b302a816",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "params",
                "pt": "msg",
                "to": "[]",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "params[0]",
                "pt": "msg",
                "to": "from",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "params[1]",
                "pt": "msg",
                "to": "src",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "params[2]",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 560,
        "wires": [
            [
                "18bdeb482edb0366"
            ]
        ]
    },
    {
        "id": "4ae18773295ff39c",
        "type": "debug",
        "z": "014a1a96b302a816",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1470,
        "y": 560,
        "wires": []
    }
]